<div>
  <!-- Bouton Ajouter produit -->
  <div class="text-right mb-4">
    <button
      pButton
      label="Ajouter un Produit"
      icon="pi pi-plus"
      severity="secondary"
      routerLink="/produit/ajouter"
    ></button>
  </div>

  <h1 class="title text-center mb-4">Liste des Produits</h1>

  <p-carousel [value]="produits" [numScroll]="3" [numVisible]="3" [circular]="false">
    <ng-template pTemplate="item" let-produit>
      <p-card class="produit-card" style="margin-right: 16px;">
        <ng-template pTemplate="header">
          <h3 class="text-center">{{ produit.nom }}</h3>
        </ng-template>

        <ng-template pTemplate="content">
          <p class="description">{{ produit.description }}</p>
          <p><strong>Prix :</strong> {{ produit.prix | currency : "EUR" }}</p>
          <p><strong>Quantité :</strong> {{ produit.quantite }}</p>
        </ng-template>

        <ng-template pTemplate="footer">
          <button
            pButton
            label="Voir Détails"
            icon="pi pi-eye"
            class="p-button-rounded p-button-primary w-full"
            [routerLink]="['/produit/detail', produit.id]"
          ></button>
        </ng-template>
      </p-card>
    </ng-template>
  </p-carousel>
</div>
